<form method="POST" action="/dashboard/Attendance/api/attendance" id="Mark-attendance">
    <div class="mb-3">
        <label for="UserId" class="col-form-label">Enter UserId:</label>
        <input type="hidden" name="id" value="">
        <input type="text" class="form-control" id="UserID" name="UserID" value="" placeholder="Mark@2003" />
    </div>
    <button type="submit" class="b-insert">Enter</button>
</form>