{{>_userrecipe}}
{{!-- <h1>Recipe Search</h1>
    <form id="search-form">
      <input type="text" id="search-input" placeholder="Search for a dish..." />
      <button type="submit">Search</button>
    </form>
    <div id="results-container"></div>
    <script src="./javascripts/recipe.js"></script>
  </body>
</html> --}}
<div class="main">
      <!--cards -->

      <div class="card">
        <div class="image">
          <img
            src="https://images.unsplash.com/photo-1604296707566-e12dd0d7f938?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzd8fHZlZ2V0YXJpYW58ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          />
        </div>
        <div class="title">
          <h1>Post-Workout Recovery Recipies</h1>
        </div>
        <div class="des">
          <p></p>
          <button>
            <a href="https://www.eatthis.com/post-workout-recipes/"
              >Read More</a
            >
          </button>
        </div>
      </div>
      <!--cards -->

      <div class="card">
        <div class="image">
          <img
            src="https://images.unsplash.com/photo-1502741224143-90386d7f8c82?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c21vb3RoaWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          />
        </div>
        <div class="title">
          <h1>Smoothies Recipe</h1>
        </div>
        <div class="des">
          <p></p>
          <button>
            <a
              href="https://www.allrecipes.com/article/best-smoothies-pre-post-workouts/"
              >Read More</a
            >
          </button>
        </div>
      </div>
      <!--cards -->

      <div class="card">
        <div class="image">
          <img
            src="https://cdn.pixabay.com/photo/2017/09/16/19/21/salad-2756467_960_720.jpg"
          />
        </div>
        <div class="title">
          <h1>Vegetarian Recipies</h1>
        </div>
        <div class="des">
          <p></p>
          <button>
            <a
              href="https://www.acouplecooks.com/easy-vegetarian-recipes-for-beginners/"
              >Read More</a
            >
          </button>
        </div>
      </div>
      <!--cards -->

      <div class="card">
        <div class="image">
          <img
            src="https://images.unsplash.com/photo-1532550907401-a500c9a57435?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvdGVpbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          />
        </div>
        <div class="title">
          <h1>High Protein Recipies</h1>
        </div>
        <div class="des">
          <p></p>
          <button>
            <a
              href="https://www.realsimple.com/food-recipes/recipe-collections-favorites/healthy-meals/high-protein-recipes"
              >Read More</a
            >
          </button>
        </div>
      </div>
      <!--cards -->

      <div class="card">
        <div class="image">
          <img
            src="https://images.unsplash.com/photo-1600626337876-9cda4528ec74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGNhcmJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          />
        </div>
        <div class="title">
          <h1>Low Carb Recipies</h1>
        </div>
        <div class="des">
          <p></p>
          <button>
            <a
              href="https://www.delish.com/cooking/recipe-ideas/g3593/low-carb-recipes/"
              >Read More</a
            >
          </button>
        </div>
      </div>
      <!--cards -->

      <div class="card">
        <div class="image">
          <img
            src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2FsYWR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
          />
        </div>
        <div class="title">
          <h1>Salad Recipies</h1>
        </div>
        <div class="des">
          <p></p>
          <button>
            <a href="https://www.loveandlemons.com/salad-recipes/">Read More</a>
          </button>
        </div>
      </div>
      <!--cards -->

      <div class="card">
        <div class="image">
          <img
            src="https://images.unsplash.com/photo-1542761744-f88e3224ddfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnwzODU1MzczfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          />
        </div>
        <div class="title">
          <h1>Fat Loss Recipes</h1>
        </div>
        <div class="des">
          <p></p>
          <button>
            <a href="https://www.eatingwell.com/recipes/18045/weight-loss-diet/"
              >Read More</a
            >
          </button>
        </div>
      </div>
      <!--cards -->

      <div class="card">
        <div class="image">
          <img
            src="https://images.unsplash.com/photo-1494597564530-871f2b93ac55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZnJ1aXQlMjByZWNpcGV8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          />
        </div>
        <div class="title">
          <h1>Fruit Recipies</h1>
        </div>
        <div class="des">
          <p></p>
          <button>
            <a
              href="https://www.tasteofhome.com/collection/healthy-and-refreshing-fruit-recipes/"
              >Read More</a
            >
          </button>
        </div>
      </div>
      <!--cards -->
    </div>
    {{>_userfooter}}