{{>_userrecipe}}
<div class="main">
    <div class="card">

        <div class="image">
            <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T2/images/I/51jJd72MGAS.jpg">
        </div>
        <div class="title">
            <h1>
                Home Gym Equipments</h1>
        </div>
        <div class="des">
            <p>Rs. 2999</p>
            <button>
                <a
                    href="https://www.amazon.in/Combo-Straight-Dumbbell-Plates-Exercise/dp/B0989V1WC6/ref=sr_1_2_sspa?adgrpid=60591530042&ext_vrnc=hi&gclid=CjwKCAiA_6yfBhBNEiwAkmXy587A6yblKK4Bn6qeg5dONM2-efMNKvjhoM46IiT6TjDZAEnNgb4cPhoCK7QQAvD_BwE&hvadid=294099619590&hvdev=c&hvlocphy=9303268&hvnetw=g&hvqmt=b&hvrand=15106770850994023524&hvtargid=kwd-326452242644&hydadcr=9099_1892853&keywords=gym%2Bequipment&qid=1676387014&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1">Read
                    More</a>
            </button>
        </div>
    </div>
    <!--cards -->


    <div class="card">

        <div class="image">
            <img src="https://m.media-amazon.com/images/I/61yZhSTziuL._AC_UL480_FMwebp_QL65_.jpg">
        </div>
        <div class="title">
            <h1>
                Hurdle Pack</h1>
        </div>
        <div class="des">
            <p>Rs. 929</p>
            <button>
                <a
                    href="https://www.amazon.in/SAS-SPORTS-Agility-Training-Football/dp/B07MYZXXFM/ref=sr_1_53?crid=36G1QL2OS3NGR&keywords=gym+hurdle&qid=1676388256&sprefix=gym+hurdle%2Caps%2C182&sr=8-53">Read
                    More</a>
            </button>
        </div>
    </div>
    <!--cards -->


    <div class="card">

        <div class="image">
            <img src="https://m.media-amazon.com/images/I/71iO6l60XxL._SX522_.jpg">
        </div>
        <div class="title">
            <h1>
                Weight Lifting Belts</h1>
        </div>
        <div class="des">
            <p>Rs. 499</p>
            <button>
                <a
                    href="https://www.amazon.in/TRIM-Weightlifting-Ultra-Light-Reinforced-Durability/dp/B09B5J8RQZ/ref=sr_1_1_sspa?keywords=weight+lifting+belts&qid=1676389202&sprefix=weight+lif%2Caps%2C266&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">Read
                    More</a>
            </button>
        </div>
    </div>
    <!--cards -->


    <div class="card">

        <div class="image">
            <img src="https://m.media-amazon.com/images/I/612JXQXoytL._SL1000_.jpg">
        </div>
        <div class="title">
            <h1>
                Hand Gripper</h1>
        </div>
        <div class="des">
            <p>Rs. 399</p>
            <button>
                <a
                    href="https://www.amazon.in/MONK-HOOD-Adjustable-Strengthener-Resistance/dp/B09G9XV1Y9/ref=sr_1_2_sspa?keywords=hand+gripper&qid=1676388011&s=kitchen&sprefix=hand+gr%2Ckitchen%2C178&sr=1-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">Read
                    More</a>
            </button>
        </div>
    </div>
    <!--cards -->


    <div class="card">

        <div class="image">
            <img src="https://m.media-amazon.com/images/I/611PHgj6q4L._SL1500_.jpg">
        </div>
        <div class="title">
            <h1>
                Optimum Nutrition Whey (2lbs)</h1>
        </div>
        <div class="des">
            <p>Rs. 3119</p>
            <button>
                <a
                    href="https://www.amazon.in/Optimum-Nutrition-Standard-Protein-Powder/dp/B002DYIZH6/ref=sr_1_1_sspa?crid=3I7A0V70M2BZT&keywords=whey%2Bprotein&qid=1676388458&sprefix=whey%2Bprotein%2Caps%2C193&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1">Read
                    More</a>
            </button>
        </div>
    </div>
    <!--cards -->

    <div class="card">

        <div class="image">
            <img src="https://m.media-amazon.com/images/I/71M0o2+rFQL._SL1500_.jpg">
        </div>
        <div class="title">
            <h1>
                Spark Pre-Workout (250gm)</h1>
        </div>
        <div class="des">
            <p>Rs. 849</p>
            <button>
                <a
                    href="https://www.amazon.in/Nutrabay-Gold-Spark-Pre-Workout-Fruit/dp/B08DP2Q4VM/ref=sr_1_2_sspa?keywords=pre%2Bworkout&qid=1676389260&sprefix=pre%2Caps%2C196&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1">Read
                    More</a>
            </button>
        </div>
    </div>
    <!--cards -->

    <div class="card">

        <div class="image">
            <img src="https://m.media-amazon.com/images/I/711D9oYNuzL._SL1500_.jpg">
        </div>
        <div class="title">
            <h1>
                MuscleBlaze Multivitamin</h1>
        </div>
        <div class="des">
            <p>Rs. 499</p>
            <button>
                <a
                    href="https://www.amazon.in/MuscleBlaze-VITE-Multivitamin-60-Tablets/dp/B00KDFRUGY/ref=sr_1_5?crid=33EPNTVSX7U10&keywords=Gym+multivitamin&qid=1676389444&sprefix=gym+multivitamin%2Caps%2C195&sr=8-5">Read
                    More</a>
            </button>

        </div>
    </div>
    <!--cards -->


    <div class="card">

        <div class="image">
            <img src="https://m.media-amazon.com/images/I/71vhbihHtKL._SL1340_.jpg">
        </div>
        <div class="title">
            <h1>
                Gym Shaker (500 ml)</h1>
        </div>
        <div class="des">
            <p>Rs. 499</p>
            <button>
                <a
                    href="https://www.amazon.in/Boldfit-Compartment-Leakproof-Guarantee-Preworkout/dp/B07PWL4GGK/ref=sr_1_1_sspa?crid=T8KB9IQYI24I&keywords=gym+shaker&qid=1676389773&sprefix=gym+shake%2Caps%2C299&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">Read
                    More</a>
            </button>
        </div>
    </div>
    <!--cards -->



</div>
</body>

</html>